<a href="https://colab.research.google.com/github/nmagee/ds1002/blob/main/homework/week-8-answers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [8]:
# code here

zy = 0

while zy < 20:
  if zy % 2 == 0:
    print(zy, "is an even number")
  else:
    pass
  zy += 1

0 is an even number
2 is an even number
4 is an even number
6 is an even number
8 is an even number
10 is an even number
12 is an even number
14 is an even number
16 is an even number
18 is an even number

## For-Loops with Lists

In [10]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [11]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for m in mylist:
  if m >= 0:
    print(m)
  else:
    pass

9
15
23
4
92
47
33
17
18
38

In [13]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

# This required some simple manipulation. For instance you could
# simply reverse the valence of a negative number:

for m in mylist:
  if m >= 0:
    print(m)
  else:
    print(-m)

# or you could use a built-in math method, abs() which gives the absolute
# value for a var.

for m in mylist:
  if m >= 0:
    print(m)
  else:
    print(abs(m))

9
15
23
4
92
47
33
17
4
18
38
242
9
15
23
4
92
47
33
17
4
18
38
242

In [14]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.

for m in mylist:
  if m > 20 and m < 40:
    pass
  else:
    print(m)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [15]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [34]:
# Write a command to print out all the keys of this dict
# Here is a built-in method that returns a list
print(capitals.keys())

# Or in this case just spit out the single key for each entry in the dict:

for c in capitals:
  print(c)

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])
United States
Italy
England
Thailand
Brazil

In [23]:
# Write a command to print out all the values of this dict
# In this case, call the key by passing the single element in as an index [] of the dict
for c in capitals:
  print(capitals[c])

Washington DC
Rome
London
Bangkok
Brasilia

In [26]:
# Write a command to print all the keys and values for this dict
# This was given in the for_loop_review notebook:

for key, value in capitals.items():
  print(key, " --> ", value)

United States  -->  Washington DC
Italy  -->  Rome
England  -->  London
Thailand  -->  Bangkok
Brazil  -->  Brasilia

In [33]:
# Write a command to print only the first three values and NOTHING more.

# This is a for-loop with an if counter built within it. You are looping through
# the capitals in the for-loop, and then incrementing a counter by 1 with each pass.

i = 0;

for each in capitals:
  if i < 3:
    print(capitals[each])
    i += 1

Washington DC
Rome
London